name: Update labels

on:
  push:
    branches:
      - master
    paths:
      - .github/labels.yml

jobs:
  labeler:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run Labeler
        uses: crazy-max/ghaction-github-labeler@52525cb66833763f651fc34e244e4f73b6e07ff5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
