name: pull_request_target test

on:
  - pull_request_target

jobs:
  apply:
    runs-on: ubuntu-latest
    name: Apply approved changes on pull_request_target
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Plan
        uses: ./terraform-plan
        with:
          label: pull_request_target
          path: tests/workflows/pull_request_target

      - name: Apply
        uses: ./terraform-apply
        id: output
        with:
          label: pull_request_target
          path: tests/workflows/pull_request_target

      - name: Verify outputs
        run: |
          if [[ "${{ steps.output.outputs.output_string }}" != "the_string" ]]; then
            echo "::error:: output s not set correctly"
            exit 1
          fi
