name: Retain images

on:
  schedule:
    - cron: 0 0 1 * *

jobs:
  pull_image:
    runs-on: ubuntu-latest
    name: Pull images
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: docker pull
        run: |
          for tag in $(git tag); do
            docker pull --quiet danielflook/terraform-github-actions:$tag
          done
