name: Test OpenTofu early eval

on:
  - pull_request

permissions:
  contents: read

jobs:
  s3-backend:
    runs-on: ubuntu-24.04
    name: Plan with early eval
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: tofu plan
        uses: ./tofu-plan
        with:
          path: tests/workflows/test-early-eval/s3
          add_github_comment: false
          variables: |
            passphrase = "tofuqwertyuiopasdfgh"

      - name: Create workspace
        uses: ./tofu-new-workspace
        with:
          path: tests/workflows/test-early-eval/s3
          workspace: test-workspace
          variables: |
            passphrase = "tofuqwertyuiopasdfgh"

      - name: Create workspace again
        uses: ./tofu-new-workspace
        with:
          path: tests/workflows/test-early-eval/s3
          workspace: test-workspace
          variables: |
            passphrase = "tofuqwertyuiopasdfgh"

      - name: Destroy workspace
        uses: ./tofu-destroy-workspace
        with:
          path: tests/workflows/test-early-eval/s3
          workspace: test-workspace
          variables: |
            passphrase = "tofuqwertyuiopasdfgh"
