name: Test terraform-plan

on: [pull_request]

jobs:
  no_changes:
    runs-on: ubuntu-latest
    name: No changes
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Plan
        uses: ./terraform-plan
        id: plan
        with:
          path: tests/plan/no_changes

      - name: Verify outputs
        run: |
          echo "changes=${{ steps.plan.outputs.changes }}"

          if [[ "${{ steps.plan.outputs.changes }}" != "false" ]]; then
            echo "::error:: output changes not set correctly"
            exit 1
          fi

  no_changes_no_comment:
    runs-on: ubuntu-latest
    name: No changes without comment
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Plan
        uses: ./terraform-plan
        with:
          path: tests/plan/no_changes
          add_github_comment: false

  plan_change_comment_11:
    runs-on: ubuntu-latest
    name: Change terraform 11
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Plan
        uses: ./terraform-plan
        id: plan
        with:
          path: tests/plan/plan_11

      - name: Verify outputs
        run: |
          echo "changes=${{ steps.plan.outputs.changes }}"

          if [[ "${{ steps.plan.outputs.changes }}" != "true" ]]; then
            echo "::error:: output changes not set correctly"
            exit 1
          fi

  plan_change_comment_12:
    runs-on: ubuntu-latest
    name: Change terraform 12
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Plan
        uses: ./terraform-plan
        id: plan
        with:
          path: tests/plan/plan_12

      - name: Verify outputs
        run: |
          echo "changes=${{ steps.plan.outputs.changes }}"

          if [[ "${{ steps.plan.outputs.changes }}" != "true" ]]; then
            echo "::error:: output changes not set correctly"
            exit 1
          fi

  plan_change_comment_13:
    runs-on: ubuntu-latest
    name: Change terraform 13
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Plan
        uses: ./terraform-plan
        id: plan
        with:
          path: tests/plan/plan_13

      - name: Verify outputs
        run: |
          echo "changes=${{ steps.plan.outputs.changes }}"

          if [[ "${{ steps.plan.outputs.changes }}" != "true" ]]; then
            echo "::error:: output changes not set correctly"
            exit 1
          fi

  plan_change_comment_14:
    runs-on: ubuntu-latest
    name: Change terraform 14
    env:
      TF_PLAN_COLLAPSE_LENGTH: 30
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Plan
        uses: ./terraform-plan
        id: plan
        with:
          path: tests/plan/plan_14

      - name: Verify outputs
        run: |
          echo "changes=${{ steps.plan.outputs.changes }}"

          if [[ "${{ steps.plan.outputs.changes }}" != "true" ]]; then
            echo "::error:: output changes not set correctly"
            exit 1
          fi

  plan_change_comment_15:
    runs-on: ubuntu-latest
    name: Change terraform 15
    env:
      TF_PLAN_COLLAPSE_LENGTH: 30
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Plan
        uses: ./terraform-plan
        id: plan
        with:
          path: tests/plan/plan_15

      - name: Verify outputs
        run: |
          echo "changes=${{ steps.plan.outputs.changes }}"

          if [[ "${{ steps.plan.outputs.changes }}" != "true" ]]; then
            echo "::error:: output changes not set correctly"
            exit 1
          fi

  plan_change_comment_15_4:
    runs-on: ubuntu-latest
    name: Change terraform 15.4
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Plan
        uses: ./terraform-plan
        id: plan
        with:
          path: tests/plan/plan_15_4

      - name: Verify outputs
        run: |
          echo "changes=${{ steps.plan.outputs.changes }}"

          if [[ "${{ steps.plan.outputs.changes }}" != "true" ]]; then
            echo "::error:: output changes not set correctly"
            exit 1
          fi

  plan_change_comment_latest:
    runs-on: ubuntu-latest
    name: Change latest terraform
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Plan
        uses: ./terraform-plan
        id: plan
        with:
          path: tests/plan/plan

      - name: Verify outputs
        run: |
          echo "changes=${{ steps.plan.outputs.changes }}"

          if [[ "${{ steps.plan.outputs.changes }}" != "true" ]]; then
            echo "::error:: output changes not set correctly"
            exit 1
          fi

  plan_change_no_comment:
    runs-on: ubuntu-latest
    name: Change without github comment
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Plan
        uses: ./terraform-plan
        with:
          path: tests/plan/plan
          add_github_comment: false

  error:
    runs-on: ubuntu-latest
    name: Error
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Plan
        uses: ./terraform-plan
        continue-on-error: true
        id: plan
        with:
          path: tests/plan/error

      - name: Check invalid
        run: |
          if [[ "${{ steps.plan.outcome }}" != "failure" ]]; then
            echo "Plan did not fail correctly"
            exit 1
          fi

  error_no_comment:
    runs-on: ubuntu-latest
    name: Error without comment
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Plan
        uses: ./terraform-plan
        continue-on-error: true
        id: plan
        with:
          path: tests/plan/error
          add_github_comment: false

      - name: Check invalid
        run: |
          if [[ "${{ steps.plan.outcome }}" != "failure" ]]; then
            echo "Plan did not fail correctly"
            exit 1
          fi

  plan_without_token:
    runs-on: ubuntu-latest
    name: Add comment without token
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Plan
        uses: ./terraform-plan
        continue-on-error: true
        id: plan
        with:
          path: tests/plan/error

      - name: Check invalid
        run: |
          if [[ "${{ steps.plan.outcome }}" != "failure" ]]; then
            echo "Plan did not fail correctly"
            exit 1
          fi

  plan_single_variable:
    runs-on: ubuntu-latest
    name: Plan single variable
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Plan
        uses: ./terraform-plan
        with:
          path: tests/apply/vars
          variables: |
            my_var="single"
          var_file: tests/apply/test.tfvars

  plan_change_run_commands:
    runs-on: ubuntu-latest
    name: Change with shell init commands
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Plan
        uses: ./terraform-plan
        with:
          path: tests/plan/plan
        env:
          TERRAFORM_PRE_RUN: |
            echo "testing command 1"
            echo "testing command 2"

  default_path:
    runs-on: ubuntu-latest
    name: Default path
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Copy
        run: cp tests/plan/plan/main.tf ./main.tf

      - name: Plan
        uses: ./terraform-plan
        with:
          label: Optional path
